# 30 Day Kaggle Challenge
## Competition Phase

## Loading Data

#### Import Pandas for Dataframe and os for filepath manipulation

In [23]:
import pandas as pd
import os

In [24]:
cwd = os.getcwd()
cwd

'/Users/amitavchrismostafa/Documents/Python/kaggle-project/30daykaggle-ml'

In [25]:
filepath_elements = cwd.split('/')
filepath_elements.pop()
filepath= '/'.join(filepath_elements)
filepath

'/Users/amitavchrismostafa/Documents/Python/kaggle-project'

In [26]:
datapath = '/30-days-of-ml/'
dataname_test = 'test.csv'
dataname_train = 'train.csv'
dataname_samplesubmit = 'sample_submission.csv'

In [29]:
data_test = pd.read_csv(filepath+datapath+dataname_test)
data_train = pd.read_csv(filepath+datapath+dataname_train)
data_samplesubmit = pd.read_csv(filepath+datapath+dataname_samplesubmit)

In [32]:
data_samplesubmit.head(10)

   id  target
0   0     0.5
1   5     0.5
2  15     0.5
3  16     0.5
4  17     0.5
5  19     0.5
6  20     0.5
7  21     0.5
8  23     0.5
9  29     0.5

In [33]:
data_train.head(10)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,B,B,B,C,B,B,A,E,C,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
1,2,B,B,A,A,B,D,A,F,A,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
2,3,A,A,A,C,B,D,A,D,A,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
3,4,B,B,A,C,B,D,A,E,C,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
4,6,A,A,A,C,B,D,A,E,A,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260
5,7,A,B,A,C,B,D,A,E,G,...,0.392432,0.658169,0.997473,0.569874,0.960864,0.238050,0.316065,0.731729,0.694719,8.028558
6,8,B,A,A,A,B,D,A,E,C,...,0.396705,0.273454,0.824573,0.656325,0.677114,0.808445,0.615973,0.631677,0.283561,7.811465
7,9,A,A,A,C,B,B,A,E,A,...,0.633353,0.339760,0.802006,1.010997,0.391221,0.057297,0.591120,0.074629,0.775869,7.674188
8,10,A,B,A,C,B,D,A,E,G,...,0.472564,0.414036,0.809142,1.013301,0.761183,1.041711,0.393960,0.782381,0.865610,8.090095
9,11,A,A,A,A,B,B,A,E,E,...,0.425716,0.233705,0.493036,0.353048,0.334675,0.085087,0.230634,0.636732,0.291874,8.446155

In [34]:
data_test.head(10)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,B,B,B,C,B,B,A,E,E,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,A,B,A,C,B,C,A,E,C,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,B,A,A,A,B,B,A,E,D,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,B,B,A,C,B,D,A,E,A,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,B,B,A,C,B,C,A,E,C,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412
5,19,B,B,B,C,B,B,A,E,E,...,0.489711,0.533519,0.451563,0.513817,0.429349,0.489093,0.326913,0.440908,0.694076,0.444859
6,20,A,A,A,C,B,D,A,E,G,...,0.285503,0.497190,0.540631,0.521383,0.277155,0.837442,0.602099,1.057592,0.522523,0.668214
7,21,B,B,A,C,B,D,A,E,A,...,0.346929,0.774717,0.374756,0.838619,0.641282,0.854445,0.834690,0.347269,0.741068,0.257963
8,23,A,A,A,C,B,B,A,E,E,...,0.484546,0.688881,0.356810,0.732911,0.259619,0.275222,0.750423,0.783911,0.601736,0.811545
9,29,A,A,A,C,B,D,A,E,A,...,0.425122,0.758756,0.706094,0.871956,0.584765,0.550189,0.775375,0.798391,0.972790,0.283684